.asp {
    position: relative;
    // height: 0;
    // overflow: hidden;
    width: 100%;
    &.contain img, &.contain video{
        object-fit: contain;
    }

    &.cover img, &.cover video{
        object-fit: cover;
    }

    img,video {
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom: 0;
        width:100%;
        height: 100%;    
    }
    .super-overlay{
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom: 0;
        width:100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
    }


}
.asp-37-35 {padding-bottom: calc(calc(100% * 35) / 37);}

// 0 for decimal

.asp-1-1{ padding-bottom : calc(calc(100% * 1) / 1); }
.asp-075-1{ padding-bottom : calc(calc(100% * 1) / 0.75); }
.asp-1-100415{ padding-bottom : calc(calc(100% * 1.0415) / 1); }
.asp-190-253{ padding-bottom : calc(calc(100% * 253) / 190); }
.asp-1-3{ padding-bottom : calc(calc(100% * 3) / 1); }

.asp-4-1{ padding-bottom : calc(calc(100% * 1) / 4); }

.asp-2-1{padding-bottom : calc(calc(100% * 1) / 2);}
.asp-1-2{padding-bottom : calc(calc(100% * 2) / 1);}
.asp-2-3{padding-bottom : calc(calc(100% * 3) / 2);}
.asp-3-2{padding-bottom : calc(calc(100% * 2) / 3);}
.asp-3-4{padding-bottom : calc(calc(100% * 4) / 3);}
.asp-4-3{padding-bottom : calc(calc(100% * 3) / 4);}
.asp-4-2{padding-bottom : calc(calc(100% * 2) / 4);}
.asp-16-9{padding-bottom : calc(calc(100% * 9) / 16);}
.asp-9-16{padding-bottom : calc(calc(100% * 16) / 9);}
.asp-16-8{padding-bottom : calc(calc(100% * 8) / 16);}
.asp-5-2{padding-bottom : calc(calc(100% * 2) / 5);}
.asp-5-3{padding-bottom : calc(calc(100% * 3) / 5);}
.asp-5-4{padding-bottom : calc(calc(100% * 4) / 5);}

.asp-100{width:100%;height: calc(100vh - 177px);}
.asp-101{width:100%;height: calc(100vh - 60px);}
.asp-50{width:100%;height: calc(60vh - 70px);}
.asp-80{width:100%;height: calc(80vh - 70px);}
.asp-90{width:100%;height: calc(90vh - 70px);}


.asp-1122-468{padding-bottom : calc(calc(100% * 468) / 1122);}
.asp-1120-608{padding-bottom : calc(calc(100% * 608) / 1120);}
.asp-1920-640{padding-bottom : calc(calc(100% * 640) / 1920);}

.asp-726-500{padding-bottom : calc(calc(100% * 500) / 726);}
.asp-940-705{padding-bottom : calc(calc(100% * 705) / 940);}

.asp-380-489{padding-bottom : calc(calc(100% * 489) / 380);}
.asp-380-506{padding-bottom : calc(calc(100% * 506) / 380);}

.asp-450-338{padding-bottom : calc(calc(100% * 222) / 450);}


.asp-1366-560{padding-bottom : calc(calc(100% * 560) / 1366);}
.asp-1920-480{padding-bottom : calc(calc(100% * 480) / 1920);}

.asp-1920-1080{padding-bottom: calc(calc(100% * 1080) / 1920);}


.asp-292-277 {padding-bottom: calc(calc(100% * 277) / 292);}
.asp-554-100 {padding-bottom: calc(calc(100% * 100) / 554);}
.asp-408-186 {padding-bottom: calc(calc(100% * 186) / 408);}
.asp-554-417 {padding-bottom: calc(calc(100% * 417) / 554);}
.asp-1722-574 {padding-bottom: calc(calc(100% * 574) / 1722);}
.asp-408-305 {padding-bottom: calc(calc(100% * 305) / 408);}
.asp-138-138 {padding-bottom: calc(calc(100% * 138) / 138);}
.asp-701-430 {padding-bottom: calc(calc(100% * 430) / 701);}
.asp-992-558 {padding-bottom: calc(calc(100% * 558) / 992);}
.asp-700-874 {padding-bottom: calc(calc(100% * 874) / 700);}
.asp-397-529 {padding-bottom: calc(calc(100% * 529) / 397);}
.asp-846-476 {padding-bottom: calc(calc(100% * 476) / 846);}
.asp-554-416 {padding-bottom: calc(calc(100% * 416) / 554);}
.asp-356-474 {padding-bottom: calc(calc(100% * 474) / 356);}
.asp-909-455 {padding-bottom: calc(calc(100% * 455) / 909);}
.asp-205-103 {padding-bottom: calc(calc(100% * 103) / 205);}
.asp-910-512 {padding-bottom: calc(calc(100% * 512) / 910);}
.asp-700-420 {padding-bottom: calc(calc(100% * 420) / 700);}
.asp-407-204 {padding-bottom: calc(calc(100% * 204) / 407);}
.asp-842-596 {padding-bottom: calc(calc(100% * 596) / 842);}
.asp-846-423 {padding-bottom: calc(calc(100% * 423) / 846);}
.asp-3-1{ padding-bottom : calc(calc(100% * 1) / 3); }
.asp-992-496{ padding-bottom : calc(calc(100% * 496) / 992); }
.asp-1430-712{ padding-bottom : calc(calc(100% * 712) / 1430); }
.asp-335-445{ padding-bottom : calc(calc(100% * 445) / 335); }
.asp-554-692{ padding-bottom : calc(calc(100% * 692) / 554); }









